# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


# Environment variables
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media files
!media/.gitkeep

main/migrations/
!main/migrations/__init__.py
# Static files
staticfiles/
!static/


# Python
*.egg-info/
dist/
build/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Production
*.log.*
